# -----------------
# Python
# -----------------
venv/
__pycache__/
*.pyc
.env
tasks.db
tasks.json

# -----------------
# React / Node
# -----------------
node_modules/
dist/
build/
npm-debug.log

# -----------------
# OS
# -----------------
.DS_Store